@page "/supplierview"



<h3>SupplierView</h3>



@if (suppliers == null)
{
    <p><em>Loading.............</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Company Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in suppliers)
            {
                <tr>
                    <td>@s.SupplierID</td>
                    <td>@s.CompanyName</td>
                    <td>@s.Address</td>
                    <td>
                        <a href="@($"supplierproduct/{s.SupplierID}")" class="btn-btn-primary table-btn">
                            Show Product
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}